* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width: 1230px;
}

body {
  font-family: 'Andika', sans-serif;
}

button {
  border: none;
}

input {
  border: none;
  padding: 15px;
}

.container {
  margin: 0 auto;
  width: 980px;
}

.clearfix {
  clear: both;
  display: table;
}

.left {
  float: left;
}

.right {
  float: right;
}

.inline {
  display: inline-block;
}

.absolute {
  position: absolute;
}



/*SECTION 1*/
.header {
  background: #2990C4;
  color: white;
  padding: 30px 0;
  position: relative;
}

.header button {
  color: #555;
  position: absolute;
  left: -240px;
  top: 20px;
  padding: 12px 15px;
  font-family: 'Myriad Pro Light';
  letter-spacing: -1px;
  font-size: 14px;
  font-weight: bold;
  background: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.header button:hover {
  cursor: pointer;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
  color: #222;
  background: #ddd;
}

.header .left h2 {
  font-family: 'Lobster', 'sans-serif', cursive;
  font-size: 38px;
}

.header .left h5 {
  line-height: 16px;
  font-size: 16px;
}

.header .right h3 {
  line-height: 26px;
}

/*SECTION 2*/
.main {
  background-image: url('../img/bg1.png');
  background-size: cover;
  position: relative;
  padding: 50px 0;
  color: white;
}

.main .content {
  padding: 40px 0 0 0;
}

.main h2 {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.main h2 strong {
  color: orange;
}

.main h2 small {
  font-size: 22px;
  color: #eee;
}

.main form {
  margin: 0 auto;
  text-align: center;
  padding: 35px 20px;
  box-shadow: 0 0 60px #2990C4;
  width: 300px;
  margin-right: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.main form h3 {
  color: #F5BE0A;
  line-height: 22px;
}

.main form input {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
  width: 80%;
  font-family: 'Verdana';
}

.main form input:hover {
  border: none;
  cursor: pointer;
  box-shadow: 0 0 30px #2990C4;
}

.main form button {
  background: #EC1E3B;
  color: white;
  padding: 10px;
  width: 280px;
  font-size: 32px;
  font-weight: bold;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
  box-shadow: 15px 15px 15px black;
}

.main form button:hover {
  cursor: pointer;
  opacity: .7;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.main .video {
  text-align: center;
  font-family: 'Marck Script', cursive;
  padding-left: 50px;
  margin-top: 70px;
}

.main .video iframe {
  border: none;
}

.bottom1 {
  left: 47%;
  top: 796px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 40px 0 40px;
  border-color: #022959 transparent transparent transparent;
}

/*SECTION 3*/
.why-we {
  padding: 80px 0;
  position: relative;
}

.why-we h2 {
  font-size: 30px;
  text-align: center;
}

.why-we .items {
  padding-top: 100px;
}

.why-we .items strong {
  border-bottom: solid 2px orange;
}

.why-we .items > * {
  float: left;
  width: 235px;
  text-align: center;
  margin: 0 5px;
  font-size: 18px;
}

.why-we .items img {
  width: 100px;
  height: 100px;
}

.bottom2 {
  z-index: 1;
  left: 47%;
  top: 532px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 40px 0 40px;
  border-color: white transparent transparent transparent;
}


/*SECTION 4*/
.stock {
  padding: 80px 0;
  background-color: #eee;
  text-align: center;
  position: relative;
}
.stock h1 {
  font-size: 48px;
}

.stock h1 img {
  height: 50px;
}

.stock h1 strong {
  background: #EC1E3B;
  color: white;
  padding: 0 10px;
}

.stock h3 {
  padding-top: 20px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 24px;
  width: 550px;
}

.stock i {
  display:block;
  margin:0 auto;
  width: 500px;
  text-align:center;
  line-height:20px;
  background:white;
  padding:20px;
  box-shadow:inset 0 0 10px grey;
}

.stock button {
  padding: 20px 40px;
  font-size: 30px;
  background: #FF5522;
  color: white;
  font-weight: bold;
  box-shadow: 20px 20px 20px black;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.stock button:hover {
  cursor: pointer;
  opacity: .7;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.bottom3 {
  z-index: 1;
  left: 47%;
  top: 761px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 40px 0 40px;
  border-color: #eee transparent transparent transparent;
}


/*SECTION 5*/
.aboutus {
  padding: 70px 0 100px 0;
  position: relative;
}

.aboutus h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.aboutus .review-cont {
  text-align: center;
}

.aboutus .review {
  background: #222;
  color: white;
  /*background: #D4F4FF;*/
  width: 300px;
  padding: 30px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 30px 30px 30px black;
}

.aboutus .review img {
  width: 150px;
}

.aboutus .review h4 {
  text-align: left;
}

.aboutus .person1 img,
.aboutus .person2 img {
  height: 100px;
  width: 100px;
}

.aboutus .person1 {
  float: left;
  transform: rotate(-20deg);
}

.aboutus .person2 {
  float: right;
  transform: scale(-1, 1);
  margin-left: 12px;
}

.bottom4 {
  z-index: 1;
  left: 47%;
  top: 719px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 40px 0 40px;
  border-color: white transparent transparent transparent;
}


/*SECTION 6*/
.clients {
  padding: 100px 0;
  position: relative;
  background: #eee;
}

.clients h2 {
  font-size: 30px;
  padding-bottom: 50px;
  text-align: center;
}

.clients .clients-cont > * {
  float: left;
  margin: 0 25px;
}

.clients .clients-cont .clients-hor > * {
  margin: 17px 0;
}

.bottom5 {
  z-index: 1;
  left: 47%;
  top: 519px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 40px 0 40px;
  border-color: #eee transparent transparent transparent;
}

/*SECTION 7*/
.brands {
  background: #0094D7;
  color: white;
  padding: 80px 50px;
  position: relative;
}

.brands h2 {
  text-align: center;
  font-size: 30px;
  background: #EC1E3B;
  margin-bottom: 20px;
}

.brands h3 {
  text-align: center;
  margin-bottom: 100px;
  color: #eee;
}

.brands h3 strong {
  border-bottom: solid 2px orange;
}

.brands h3 span {
  color: white;
  font-size: 28px;
  font-family: verdana. sans-serif;
}

.brands .brands-cont {
  margin-left: 43px;
}

.brands .brands-cont > * {
  display: inline-block;
  position: relative;
}

.brands .brands-cont h5 {
  font-size: 20px;
}

.brands button {
  padding: 20px 40px;
  font-size: 30px;
  background: #FF5522;
  color: white;
  font-weight: bold;
  box-shadow: 20px 20px 20px black;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.brands button:hover {
  cursor: pointer;
  opacity: .7;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.bottom6 {
  z-index: 1;
  left: 44.4%;
  top: 992px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 40px 0 40px;
  border-color: #0094D7 transparent transparent transparent;
}

/*SECTION 8*/
.workprocess {
  padding: 70px 0;
  background: #eee;
  position: relative;
}

.workprocess h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.workprocess-cont {
  text-align: center;
}

.workprocess-cont img {
  width: 100px;
  height: 100px;
}

.workprocess-cont div {
  display: inline-block;
  width: 200px;
  text-align: center;
}

.workprocess-cont div span {
  color: orange;
  font-size: 24px;
}

.workprocess-cont div p {
  text-align: center;
}

.bottom7 {
  z-index: 1;
  left: 47%;
  top: 389px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 40px 0 40px;
  border-color: #eee transparent transparent transparent;
}
