* {
  margin: 0;
  padding: 0;
}

html {
  font-weight: bold;
}

iframe {
  width: 480px;
  height: 315px;
  border: none;
}

body {
  font-family: 'Andika', sans-serif;
}

button {
  border: none;
}

input {
  border: none;
  padding: 15px;
}

.container {
  margin: 0 auto;
  width: 980px;
}

.clearfix {
  clear: both;
  display: table;
}

.left {
  float: left;
}

.right {
  float: right;
}

.inline {
  display: inline-block;
}

.absolute {
  position: absolute;
}

.bottom1,
.bottom2,
.bottom3,
.bottom4,
.bottom5,
.bottom6,
.bottom7,
.bottom8,
.bottom9,
.bottom10,
.bottom11 {
  z-index: 1;
  position: relative;
  left: -50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 40px 0 40px;
}


#popup {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0,0,0,0.7);
  display: none;
}
#popup-cont {
  position:relative;
  width:100%;
  height:100%;
}
.popup-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: left;
  width: 460px;
  height: 536px;
}
#close {
  font-weight:bold;
  font-size:20px;
  line-height:28px;
  position:absolute;
  background:#ddd;
  padding:0 9px 3px 9px;
  border-radius:40px;
  top: -16px;
  left: -16px;
  color: #333;
}
#close:hover {
  cursor: pointer;
  background: #eee;
}


/*SECTION 1*/
.header {
  background: #2990C4;
  color: white;
  padding: 30px 0;
  position: relative;
}

.header button {
  color: #555;
  position: absolute;
  left: -240px;
  top: 20px;
  padding: 12px 15px;
  font-family: 'Myriad Pro Light';
  letter-spacing: -1px;
  font-size: 14px;
  font-weight: bold;
  background: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.header button:hover {
  cursor: pointer;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
  color: #222;
  background: #ddd;
}

.header .left h2 {
  font-family: 'Lobster', 'sans-serif', cursive;
  font-size: 38px;
}

.header .left h5 {
  line-height: 16px;
  font-size: 16px;
}

.header .right h3 {
  line-height: 26px;
}

/*SECTION 2*/
.main {
  background-image: url('../img/bg1.png');
  background-size: cover;
  position: relative;
  padding: 50px 0;
  color: white;
}

.main .content {
  padding: 40px 0 0 0;
}

.main h2 {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.main h2 strong {
  color: orange;
}

.main h2 small {
  font-size: 22px;
  color: #eee;
}

.main form {
  margin: 0 auto;
  text-align: center;
  padding: 35px 20px;
  box-shadow: 0 0 60px #2990C4;
  width: 300px;
  margin-right: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}

.main form img {
  position: absolute;
  left: 280px;
  top: -30px;
  height: 130px;
  width: 80px;
  opacity: .8;
}

.main form h3 {
  color: #F5BE0A;
  line-height: 22px;
}

.main form input {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
  width: 80%;
  font-family: 'Verdana';
}

.main form input:hover {
  border: none;
  cursor: pointer;
  box-shadow: 0 0 30px #2990C4;
}

.main form button {
  background: #EC1E3B;
  color: white;
  padding: 10px;
  width: 280px;
  font-size: 32px;
  font-weight: bold;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
  box-shadow: 15px 15px 15px black;
}

.main form button:hover {
  cursor: pointer;
  opacity: .7;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.main .video {
  text-align: center;
  font-family: 'Marck Script', cursive;
  padding-left: 50px;
  margin-top: 70px;
}

.main .video iframe {
  border: none;
}

.bottom1 {
  border-color: #022959 transparent transparent transparent;
}

/*SECTION 3*/
.why-we {
  padding: 60px 0;
  position: relative;
}

.why-we h2 {
  font-size: 30px;
  text-align: center;
}

.why-we .items {
  padding-top: 40px;
}

.why-we .items strong {
  border-bottom: solid 2px orange;
}

.why-we .items > * {
  float: left;
  width: 235px;
  text-align: center;
  margin: 0 5px;
  font-size: 18px;
}

.why-we .items img {
  width: 100px;
  height: 100px;
}

.bottom2 {
  border-color: white transparent transparent transparent;
}


/*SECTION 4*/
.stock {
  padding: 60px 0;
  background-color: #eee;
  text-align: center;
  position: relative;
}
.stock h1 {
  font-size: 48px;
}

.stock h1 img {
  height: 50px;
}

.stock h1 strong {
  background: #EC1E3B;
  color: white;
  padding: 0 10px;
}

.stock h3 {
  padding-top: 20px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 24px;
  width: 550px;
}

.stock i {
  display:block;
  margin:0 auto;
  width: 500px;
  text-align:center;
  line-height:20px;
  background:white;
  padding:20px;
  box-shadow:inset 0 0 10px grey;
}

.stock button {
  padding: 20px 40px;
  font-size: 30px;
  background: #FF5522;
  color: white;
  font-weight: bold;
  box-shadow: 20px 20px 20px black;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.stock button:hover {
  cursor: pointer;
  opacity: .7;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.bottom3 {
  border-color: #eee transparent transparent transparent;
}


/*SECTION 5*/
.aboutus {
  padding: 60px 0 100px 0;
  position: relative;
}

.aboutus h2 {
  text-align: center;
  font-size: 30px;
}

.bottom4 {
  border-color: white transparent transparent transparent;
}


/*SECTION 6*/
.clients {
  padding: 70px 0;
  position: relative;
  background: #eee;
}

.clients h2 {
  font-size: 30px;
  padding-bottom: 50px;
  text-align: center;
}

.clients .clients-cont > * {
  float: left;
  margin: 0 25px;
}

.clients .clients-cont .clients-hor > * {
  margin: 17px 0;
}

.bottom5 {
  border-color: #eee transparent transparent transparent;
}

/*SECTION 7*/
.brands {
  background: #0094D7;
  color: white;
  padding: 80px 50px;
  position: relative;
}

.brands h2 {
  text-align: center;
  font-size: 30px;
  background: #EC1E3B;
  margin-bottom: 20px;
}

.brands h3 {
  text-align: center;
  margin-bottom: 100px;
  color: #eee;
}

.brands h3 strong {
  border-bottom: solid 2px orange;
}

.brands h3 span {
  color: white;
  font-size: 28px;
  font-family: verdana. sans-serif;
}

.brands .brands-cont {
  margin-left: 43px;
}

.brands .brands-cont > * {
  display: inline-block;
  position: relative;
}

.brands .brands-cont h5 {
  font-size: 20px;
}

.brands button {
  padding: 20px 40px;
  font-size: 30px;
  background: #FF5522;
  color: white;
  font-weight: bold;
  box-shadow: 20px 20px 20px black;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.brands button:hover {
  cursor: pointer;
  opacity: .7;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.bottom6 {
  border-color: #0094D7 transparent transparent transparent;
}

/*SECTION 8*/
.workprocess {
  padding: 60px 0;
  background: #eee;
  position: relative;
}

.workprocess h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.workprocess-cont {
  text-align: center;
}

.workprocess-cont img {
  width: 100px;
  height: 100px;
}

.workprocess-cont div {
  display: inline-block;
  width: 200px;
  text-align: center;
}

.workprocess-cont div span {
  color: orange;
  font-size: 24px;
}

.workprocess-cont div p {
  text-align: center;
}

.bottom7 {
  border-color: #eee transparent transparent transparent;
}

/*SECTION 9*/
.stock2 {
  padding: 70px 0;
  position: relative;
  text-align: center;
}

.stock2 .stock2-cont > * {
  display: inline-block;
  width: 450px;
  text-align: center;
}

.stock2 .stock2-cont i {
  text-align:center;
  display:block;
  margin: 0 auto;
  width:250px;
  box-shadow: inset 0 0 30px #eee;
  padding: 20px 0;
}

.stock2 form,
.callforaction form,
.popup-content form {
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  padding: 35px 20px;
  background: #eee;
  width: 300px;
  box-shadow: 0 0 10px black;
  margin-right: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}

.stock2 form img,
.callforaction form img,
.popup-content form img {
  position: absolute;
  left: 280px;
  top: -30px;
  height: 130px;
  width: 80px;
  opacity: .8;
}

.stock2 form h3,
.callforaction form h3,
.popup-content form h3 {
  color: #FFA921;
  line-height: 22px;
  width: 200px;
  margin: 0 auto;
}


.stock2 form input,
.callforaction form input,
.popup-content form input {
  box-shadow: inset 0 0 5px black;
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
  width: 80%;
  font-family: 'verdana';
}

.stock2 form input:hover,
.callforaction form input:hover,
.popup-content form input:hover {
  border: none;
  cursor: pointer;
  box-shadow: 0 0 30px #FFA921;
}

.stock2 form button,
.callforaction form button,
.popup-content form button {
  background: #EC1E3B;
  color: white;
  padding: 10px;
  width: 280px;
  font-size: 32px;
  font-weight: bold;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
  box-shadow: 15px 15px 15px black;
}

.stock2 form button:hover,
.callforaction form button:hover,
.popup-content form button:hover {
  cursor: pointer;
  opacity: .7;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.stock2 h2 {
  margin-bottom: 10px;
}

.stock2 h2 strong {
  background: #EC1E3B;
  color: white;
  padding: 0 10px;
  font-size: 40px;
}

.bottom8 {
  border-color: white transparent transparent transparent;
}

/*SECTION 10*/
.whatwedo {
  padding: 60px 0;
  background: #eee;
}

.whatwedo h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  padding: 0 10px;
}

.whatwedo .whatwedo-cont {
  margin-left: 110px;
}

.whatwedo .whatwedo-cont > * {
  display: inline-block;
  width: 430px;
  font-size: 20px;
}

.bottom9 {
  border-color: #eee transparent transparent transparent;
}

/*SECTION 11*/
.examples {
  position: relative;
  padding: 70px 0;
  text-align: center;
}

.examples h2 {
  font-size: 30px;
  margin-bottom: 70px;
}

.examples .examples-cont > * {
  display: inline-block;
}

.examples .examples-cont div:hover {
  opacity: .8;
  cursor: pointer;
}

.bottom10 {
  border-color: white transparent transparent transparent;
}

/*SECTION 12*/
.callforaction {
  padding: 70px 0;
  background: #eee;
  position: relative;
}

.callforaction h2 {
  text-align: center;
  font-size: 30px;
  background: orange;
  color: white;
  margin-bottom: 20px;
}

.callforaction .callforaction-cont {
  margin: 0 auto;
  width: 810px;
}

.callforaction .callforaction-cont > * {
  display: inline-block;
  width: 400px;
}

/*CALLBACK*/
.album {
  z-index:10;
  position:relative;
  width:80px;
  height:80px;
  background-size: 100% 100%;
  border-radius:40px;
  transition: .5s;
}

.album:hover {
  opacity: .5;
  cursor:pointer;
  transition: .5s;
}

.pulse {
  position:absolute;
  top:0;
  left:0;
  width:80px;
  height:80px;
  border-radius:40px;
  background:#2990C4;
  -webkit-animation: pulsating 2s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  opacity:0.0
  z-index:10;
}

.ringbase {
  position:absolute;
  top:0;
  left:0;
  width:80px;
  height:80px;
  border-radius:40px;
  opacity:0.0
  z-index:10;
}

.ring1 {
  box-shadow:0 0 2px 1px #2990C4, 0 0 2px 1px #2990C4;
  -webkit-animation: ring 2s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  z-index:10;
}

.ring2 {
  box-shadow:0 0 1px 0px #2990C4, 0 0 1px 0px #2990C4;
  -webkit-animation: ring 2s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.5s;
  z-index:10;
}

@-webkit-keyframes pulsating {
  0% {opacity: 0.0;}
  50% {opacity: 0.2;}
  100% {opacity: 0.0;}
}

@-webkit-keyframes ring {
  0% {-webkit-transform: scale(0.4, 0.4); opacity: 0.0;}
  50% {opacity: 0.6;}
  100% {-webkit-transform: scale(1.1, 1.1); opacity: 0.0;}
}


/*TIMER*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic);


#timer {
	margin:0 auto;
  width: 280px;
}

#timer p {
	color: #fff;
	padding:4px 0;
	width:24px;
	height:55px;
	float:left;
	font-size:27px;
	font-weight:bold;
	position:absolute;
  margin-top: 0;
  font-family: 'PT Sans',sans-serif;
}


#hour, #min, #sec, #day {
  float: left;
  padding: 3px;
  width: 50px;
  height: 55px;
  position: relative;
  display: block;
  margin-left: .7px;
}


#sec1,#min1,#hour1,#day1, #day3, #sec3, #min3, #hour3, #hour5, #min5, #sec5, #day5,#hour7, #min7, #sec7, #day7, #hour9, #min9, #sec9, #day9, #hour11, #min11, #sec11, #day11   {
	margin-left: 23px;
  padding-top: 4px;
}
#timer_wrap {
	background: url(../img/dash2.png) center top no-repeat;
	height:60px;
	padding:0px 2px;
	font-family: "Times New Roman";
	font-size: 16px;
  display: block;
  position: relative;
  width: 280px;
  padding-left: 4px;
}

#clock {
	height:65px;
	padding-left: 7px;
	position:absolute;
}
#razd {
	float:left;
	color:#ffffff;
	font-weight:bold;
	font-size:3em;
	width: 13px;
	height: 60px;

}
#stop {
	color:white;
	font-size:2em;
	position:absolute;
}
