@media (max-width: 1200px) {
  .absolute {
    display: none;
  }
}
@media (min-width: 768px) {
  .container {
    width: 570px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

body {
  font-family: 'Zócalo Text';
  background-color: #eee !important;
}

.page-header {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

.image {
  text-align: center;
}

.main {
  color: white;
  background: url('img/bg1.jpg') cover;
  padding: 2% 0;
}

.absolute {
  position: absolute;
}

button {
  border-radius: 0px !important;
  opacity: 1 !important;
  background-color: #f71 !important;
  border: none !important;
  color: white !important;
  padding: 5% 15% !important;
  font-family: 'Verdana' !important;
  -webkit-box-shadow: 0 0 40px red !important;
  -moz-box-shadow: 0 0 40px red !important;
  -ms-box-shadow: 0 0 40px red !important;
  -o-box-shadow: 0 0 40px red !important;
  box-shadow: 0 0 40px red !important;
  transition: .5s !important;
}

button:hover {
  opacity: .5 !important;
  -webkit-transition: .5s !important;
  -moz-transition: .5s !important;
  -ms-transition: .5s !important;
  -o-transition: .5s !important;
  transition: .5s !important;
}

button:active {
  border: none;
}

.button-large {
  padding: 3% !important;
  font-size: 2.5em !important;
  border-radius: 50px !important;
}

form {
  font-family: 'Zócalo Text';
  -webkit-box-shadow: 0 0 20px black !important;
  -moz-box-shadow: 0 0 20px black !important;
  -ms-box-shadow: 0 0 20px black !important;
  -o-box-shadow: 0 0 20px black !important;
  box-shadow: 0 0 100px white;
}

form input {
   font-size: 18px !important;
   padding: 6% !important;
   border: none !important;
   -webkit-box-shadow: 0 0 20px black !important;
   -moz-box-shadow: 0 0 20px black !important;
   -ms-box-shadow: 0 0 20px black !important;
   -o-box-shadow: 0 0 20px black !important;
   box-shadow: 0 0 5px black !important;
   text-align: center;
}

form input:hover {
  -webkit-box-shadow: 0 0 20px black !important;
  -moz-box-shadow: 0 0 20px black !important;
  -ms-box-shadow: 0 0 20px black !important;
  -o-box-shadow: 0 0 20px black !important;
  box-shadow: 0 0 20px black !important;
  cursor: pointer;
}

.arrow {
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  -o-transform: rotate(-80deg);
  transform: rotate(-80deg);
}

.why-we .adv {
  font-family: 'Marck Script', cursive;
  text-align: center !important;
  width: 40%;
  margin: 2% 5%;
  padding: 5%;
  box-sizing: border-box;
  border: 7px solid #fb8;
  -webkit-box-shadow: 20px 20px 20px grey;
  -moz-box-shadow: 20px 20px 20px grey;
  -ms-box-shadow: 20px 20px 20px grey;
  -o-box-shadow: 20px 20px 20px grey;
  box-shadow: 20px 20px 20px grey;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: white;
}

.why-we .adv img {
  width: 40%;
  height: 40%;
}

.why-we .adv h4 {
  font-size: 1.7em;
}

.padding {
  padding: 5% 0;
}
