* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width: 1230px;
}

body {
  font-family: 'Andika', sans-serif;
}

button {
  border: none;
}

input {
  border: none;
  padding: 15px;
}

.container {
  margin: 0 auto;
  width: 980px;
}

.clearfix {
  clear: both;
  display: table;
}

.left {
  float: left;
}

.right {
  float: right;
}

.inline {
  display: inline-block;
}

.absolute {
  position: absolute;
}



/*SECTION 1*/
.header {
  background: #2990C4;
  color: white;
  padding: 30px 0;
  position: relative;
}

.header button {
  color: #555;
  position: absolute;
  left: 700px;
  top: 50px;
  padding: 12px 15px;
  font-family: 'Myriad Pro Light';
  letter-spacing: -1px;
  font-size: 14px;
  font-weight: bold;
  background: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.header button:hover {
  cursor: pointer;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
  color: #222;
  background: #ddd;
}

.header .left h2 {
  font-family: 'Lobster', 'sans-serif', cursive;
  font-size: 38px;
}

.header .left h5 {
  line-height: 16px;
  font-size: 16px;
}

.header .right h3 {
  line-height: 26px;
}

/*SECTION 2*/
.main {
  background-image: url('../img/bg1.png');
  background-size: cover;
  position: relative;
  padding: 50px 0;
  color: white;
}

.main .content {
  padding: 40px 0 0 0;
}

.main h2 {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.main h2 strong {
  color: orange;
}

.main h2 small {
  font-size: 22px;
  color: #eee;
}

.main form {
  margin: 0 auto;
  text-align: center;
  padding: 35px 20px;
  box-shadow: 0 0 60px #2990C4;
  width: 300px;
  margin-right: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.main form h3 {
  color: #F5BE0A;
  line-height: 22px;
}

.main form input {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
  width: 80%;
  font-family: 'Verdana';
}

.main form input:hover {
  border: none;
  cursor: pointer;
  box-shadow: 0 0 30px #2990C4;
}

.main form button {
  background: #EC1E3B;
  color: white;
  padding: 10px;
  width: 280px;
  font-size: 32px;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.main form button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 50px red;
  -moz-box-shadow: 0 0 50px red;
  -o-box-shadow: 0 0 50px red;
  -ms-box-shadow: 0 0 50px red;
  box-shadow: 0 0 50px red;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.main .video {
  text-align: center;
  font-family: 'Marck Script', cursive;
  padding-left: 50px;
  margin-top: 70px;
}

.main .video iframe {
  border: none;
}

.bottom {
  left: 47%;
  top: 761px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 40px 0 40px;
  border-color: #0B3162 transparent transparent transparent;
}
