@media (max-width: 1200px) {
  .absolute {
    display: none;
  }
}
@media (min-width: 768px) {
  .container {
    width: 570px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

body {
  font-family: 'Adelle';
  /*background-color: #eee !important;*/
}

.page-header {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

.image {
  text-align: center;
}

.main {
  color: white;
  background: url('img/bg1.jpg') cover;
  padding: 2% 0;
}

.absolute {
  position: absolute;
}

button {
  border-radius: 0px !important;
  opacity: 1 !important;
  background-color: #f71 !important;
  border: none !important;
  color: white !important;
  padding: 5% 15% !important;
  font-family: 'Verdana' !important;
  -webkit-box-shadow: 0 0 40px red !important;
  -moz-box-shadow: 0 0 40px red !important;
  -ms-box-shadow: 0 0 40px red !important;
  -o-box-shadow: 0 0 40px red !important;
  box-shadow: 0 0 40px red !important;
  transition: .5s !important;
}

button:hover {
  opacity: .5 !important;
  -webkit-transition: .5s !important;
  -moz-transition: .5s !important;
  -ms-transition: .5s !important;
  -o-transition: .5s !important;
  transition: .5s !important;
}

button:active {
  border: none;
}

.button-large {
  padding: 3% !important;
  font-size: 2.5em !important;
  border-radius: 50px !important;
}

form {
  font-family: 'Zócalo Text';
  -webkit-box-shadow: 0 0 20px black !important;
  -moz-box-shadow: 0 0 20px black !important;
  -ms-box-shadow: 0 0 20px black !important;
  -o-box-shadow: 0 0 20px black !important;
  box-shadow: 0 0 100px white;
}

form input {
   font-size: 18px !important;
   padding: 6% !important;
   border: none !important;
   -webkit-box-shadow: 0 0 20px black !important;
   -moz-box-shadow: 0 0 20px black !important;
   -ms-box-shadow: 0 0 20px black !important;
   -o-box-shadow: 0 0 20px black !important;
   box-shadow: 0 0 5px black !important;
   text-align: center;
}

form input:hover {
  -webkit-box-shadow: 0 0 20px black !important;
  -moz-box-shadow: 0 0 20px black !important;
  -ms-box-shadow: 0 0 20px black !important;
  -o-box-shadow: 0 0 20px black !important;
  box-shadow: 0 0 20px black !important;
  cursor: pointer;
}

.arrow {
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  -o-transform: rotate(-80deg);
  transform: rotate(-80deg);
}

.why-we  {
  /*font-family: 'Marck Script', cursive;*/
  text-align: center !important;
}

.why-we strong {
  color: orange;
}

.why-we img {
  width: 40%;
  height: 40%;
}

.why-we h4 {
  font-size: 1.7em;
}

.padding {
  padding: 5% 0;
}

/*STOCK*/
.stock {
  /*background: #eee;*/
  background: #36ACEB;
  margin-top: 3%;
  padding: 3% 0;
  color: white;
  /*text-shadow: 0 0 8px black;*/
}

/*CLIENTS*/
.clients {
  background: #eee;
  color: white;
}

/*STOCK2*/
.stock2 {
  background: #eee;
  color: white;
  text-shadow: 0 0 8px black;
  padding: 7% 0;
}

/*WORKPROCESS*/
.workprocess {
  background: #eee;
  padding-bottom: 5%;
}

/*WHATWEDO*/
.whatwedo {
  padding-bottom: 7%;
}
.whatwedo li:before
{
  content: '✔';
  margin-left: -1em;
  margin-right: .100em;
}

.whatwedo ul
{
  font-size: 1.5em;
  padding-left: 20px;
  text-indent: 2px;
  list-style: none;
  list-style-position: outside;
}

/*EXAMPLES*/
.examples {
  background: #7cf;
  color: white;
  padding-bottom: 7%;
}

/*FOOTER*/
